body {
  padding: 5px
}

/**
Just to beautify the things a bit
*/
ul { margin: 10px; padding: 0; }
li { list-style-type: none; padding: 10px 5px; cursor: pointer;  }
.ui-sortable-disabled li { cursor: not-allowed; }